@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}

div {
	display: flex;
}

:root {
	--blue-color: #7d5fff;
}

.main {
	display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0px;
}

.content-order {
	flex-direction: column;
	width: 70%;
}

.content-first {
	margin-top: 40px;
	padding: 0px 45px;
	gap: 5%;
	width: 100%;
}

.order-details {
	flex-direction: column;
	background: rgb(255, 255, 255);
	padding: 25px 20px;
	margin-top: 20px;
	border-radius: 5px;
}

.order-row-img img {
	width: 85%;
}

.order-row-left {
	flex-basis: 45%;
	gap: 5%;
}

.order-row-img {
	flex-basis: 20%;
	background: whitesmoke;
	justify-content: center;
	border-radius: 5px;
	padding: 10px 0px;
}

.order-row-details {
	flex-basis: 70%;
	flex-direction: column;
	gap: 7px;
	justify-content: center;
}

.order-row-right {
	flex-basis: 55%;
	align-items: center;
}

.order-right-price {
	gap: 10px;
	flex-basis: 37%;
	justify-content: right;
	font-size: 15px;
}

.regular-price {
	text-decoration: line-through;
	color: rgb(207, 207, 211);
}

.order-right-quantity {
	color: gray;
	gap: 10px;
	flex-basis: 30%;
	align-items: center;
	margin-left: 40px;
	margin-bottom: 4px;
}

.quantity-details input {
	width: 56px;
	height: 30px;
	outline: none;
	padding: 0px 5px;
	border: 2px solid rgb(220, 220, 224);
	border-radius: 4px;
}

.quantity-navigation {
	flex-direction: column;
	position: absolute;
	right: 3px;
	top: 1px;
	font-size: 14px;
	cursor: pointer;
}

.quantity-details {
	position: relative;
}

.order-right-remove {
	height: 30px;
	width: 30px;
	cursor: pointer;
	border: 1px solid transparent;
	align-items: center;
	justify-content: center;
	padding-right: 2px;
	border-radius: 50%;
	box-shadow: rgba(128, 128, 128, 0.62) 0px 0px 5px;
	color: rgba(0, 0, 0, 0.73);
}

.row-details-items:nth-child(1) {
	color: gray;
}

.sale-price {
	color: red;
	font-weight: 500;
}

.content {
	width: 100%;
	background: whitesmoke;
	flex-direction: column;
}

.order-border {
	border-top: 2px solid whitesmoke;
	margin: 10px 0px;
}

.order-row-details h4 {
	color: black;
	font-size: 16px;
	text-transform: capitalize;
}

.row-details-items {
	font-size: 13px;
}

.row-details-items span {
	color: rgba(0, 0, 0, 0.98);
	font-weight: 600;
}

.row-items-tittle {
	color: gray !important;
	font-weight: 400 !important;
}

.price-not-sale {
	color: rgb(51, 51, 51);
}

.order-tittle {
	color: black;
	font-size: 18px;
	font-weight: 500;
}

.content-service {
	width: 25%;
	flex-direction: column;
}

.service-details {
	flex-direction: column;
	padding: 0px;
	margin-top: 20px;
	border-radius: 5px;
	gap: 23px;
}

.service-tittle {
	font-size: 18px;
	color: black;
	font-weight: 500;
}

.service-box {
	background: rgb(255, 255, 255);
	padding: 20px;
	align-items: center;
}

.service-description {
	flex-direction: column;
	flex-basis: 60%;
	gap: 6px;
}

.service-price {
	flex-basis: 20%;
	font-size: 14px;
	color: black;
	font-weight: 600;
}

.service-check {
	flex-basis: 20%;
	justify-content: right;
}

.service-description h4 {
	text-transform: capitalize;
	font-size: 14px;
}

.service-description span {
	font-size: 12px;
	color: rgba(169, 169, 169, 0.8);
}

.service-check input {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.service-check-label {
	width: 33px;
	border-radius: 20px;
	background: rgba(169, 169, 169, 0.73);
	height: 15px;
	position: relative;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

label.service-check-label i {
	font-size: 14px;
	color: rgb(255, 255, 255);
}

.service-check input:checked+.service-check-label i {
	transform: translateX(18px);
	color: rgb(1, 131, 253);
}

.service-check input:checked+.service-check-label {
	background: rgb(217, 236, 254);
}

.content-summary {
	width: 25%;
	flex-direction: column;
}

.summary-details {
	flex-direction: column;
	margin-top: 20px;
	padding: 22px 20px;
	background: rgb(255, 255, 255);
}

.summary-tittle {
	font-size: 18px;
	font-weight: 500;
	color: black;
	text-transform: capitalize;
}

.summary-discount {
	flex-direction: column;
	gap: 15px;
}

.check-login {
	width: 100%;
	height: 30px;
	background: rgb(247, 248, 251);
	justify-content: center;
	border-radius: 5px;
	align-items: center;
}

.check-login span {
	padding: 0px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.72);
	font-weight: 300;
	font-size: 13px;
}

.summary-code {
	width: 100%;
	justify-content: space-between;
}

span.code-tittle {
	color: lightgray;
	font-size: 13px;
}

span.code-details {
	color: rgb(51, 51, 51);
	font-size: 14px;
	font-weight: 400;
}

.summary-input {
	width: 100%;
	justify-content: space-between;
}

.summary-input input {
	height: 30px;
	width: 206px;
	padding: 4px 10px;
	outline: none;
	color: rgb(51, 51, 51);
	border: 2px solid rgb(220, 220, 224);
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 12px;
}

.submit-discount {
	background: rgb(217, 237, 255);
	color: rgb(62, 162, 255);
	width: 80px;
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
}

.summary-border {
	border-top: 2px dashed rgb(231, 232, 234);
	margin: 20px 0px;
}

.summary-price {
	gap: 15px;
	flex-direction: column;
}

.summary-price-items {
	width: 100%;
	justify-content: space-between;
	text-transform: capitalize;
}

.summary-price-tittle {
	color: lightgray;
	font-size: 14px;
}

span.summary-price-details {
	color: rgba(51, 51, 51, 0.77);
	font-size: 13px;
	font-weight: 600;
}

.summary-price-sale {
	color: red;
	font-weight: 500;
	font-size: 13px;
}

span.summary-price-service {
	font-size: 13px;
	color: rgb(135, 197, 255);
}

.summary-save {
	width: 100%;
	justify-content: center;
	background: rgba(255, 0, 0, 0.14);
	height: 30px;
	align-items: center;
}

.summary-save p {
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	font-size: 13px;
}

span.price-save {
	color: red;
	font-weight: 600;
}

.delivery-box-logo img {
	height: 50%;
}

.content-delivery {
	flex-direction: column;
	width: 70%;
}

.content-mid {
	margin: 40px 0px;
	padding: 0px 45px;
	width: 100%;
	gap: 5%;
}

.delivery-tittle {
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	font-weight: 500;
}

.delivery-details {
	flex-direction: column;
	padding: 20px 0px;
	gap: 22px;
}

.delivery-box {
	width: 40%;
	height: 100px;
}

.delivery-row {
	gap: 20%;
}

.delivery-box-logo {
	flex-basis: 30%;
	padding: 15px 0px;
	justify-content: center;
	align-items: center;
}

.delivery-description {
	justify-content: center;
	flex-basis: 40%;
	flex-direction: column;
	gap: 5px;
}

.delivery-price {
	flex-basis: 20%;
	align-items: center;
	justify-content: center;
	margin-left: 2%;
	font-size: 13px;
	color: rgb(51, 51, 51);
	font-weight: 600;
}

.delivery-box-details {
	width: 90%;
	gap: 0%;
	background: rgb(255, 255, 255);
	border-radius: 5px;
	cursor: pointer;
}

.delivery-name {
	text-transform: capitalize;
	font-size: 13px;
	color: rgb(51, 51, 51) !important;
	font-weight: 600 !important;
}

.delivery-description span {
	color: lightgray;
	font-size: 12px;
}

.delivery-box-check {
	width: 15px;
	border: 1px solid;
	height: 15px;
	font-size: 13px;
	border-radius: 50%;
}

.delivery-box-check i {
	display: none;
}

.delivery-name {
	text-transform: capitalize;
	font-size: 13px;
	color: rgb(51, 51, 51) !important;
	font-weight: 600 !important;
}

.delivery-description span {
	color: lightgray;
	font-size: 12px;
}

.delivery-box-check {
	width: 20px;
	border: 1px solid rgba(169, 169, 169, 0.66);
	height: 20px;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.delivery-box-check i {
	display: none;
}

.delivery-row .delivery-box:nth-child(2n) {
	justify-content: right;
}

.delivery-check {
	align-items: center;
	width: 10%;
	justify-content: center;
}

.delivery-box.active .delivery-box-details {
	border: 3px solid rgb(15, 139, 255);
}

.delivery-box.active .delivery-box-check {
	background: rgba(122, 189, 252, 0.23);
	border: 2px solid rgba(0, 0, 255, 0.5);
}

.delivery-box.active .delivery-box-check i {
	display: flex;
	color: rgba(0, 0, 255, 0.5);
}

.content-last {
	padding: 0px 45px;
	width: 100%;
	margin-bottom: 40px;
}

.content-checkout {
	width: 70%;
	flex-direction: column;
}

.content-info {
	width: 100%;
	padding: 20px 29px;
	background: rgb(255, 255, 255);
	border-radius: 5px;
	display: flex;
}

.content-info-details {
	flex-direction: column;
	width: 75%;
	padding: 0px 15px;
	justify-content: center;
	gap: 2px;
}

.content-info-logo {
	width: 6%;
	font-size: 40px;
	align-items: center;
	justify-content: center;
}

.content-info-logo i {
	color: rgb(51, 51, 51);
}

.content-info-change {
	width: 19%;
	align-items: center;
	justify-content: center;
}

.content-info-change h4 {
	text-transform: uppercase;
	color: darkgray;
	font-weight: 500;
	cursor: pointer;
}

span.phone {
	font-weight: bold;
	font-size: 13px;
	color: rgb(51, 51, 51);
}

span.name {
	font-weight: bold;
	font-size: 13px;
	color: rgb(51, 51, 51);
	text-transform: capitalize;
}

span.address {
	font-size: 14px;
	text-transform: capitalize;
	color: gray;
}

.content-info-description {
	gap: 2px;
}

.content-address-tittle {
	width: 100%;
	padding: 20px 29px;
	background: rgb(255, 255, 255);
	border-radius: 5px;
}

.content-address {
	width: 100%;
	flex-direction: column;
	gap: 40px;
	display: none;
}

.address-logo {
	width: 6%;
	font-size: 40px;
	justify-content: center;
	align-items: center;
}

.address-details {
	padding: 0px 15px;
	align-items: center;
	width: 20%;
}

.address-details h4 {
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.72);
	font-weight: 700;
}

.content-address-details {
	flex-direction: column;
	gap: 25px;
	width: 100%;
}

.content-address-row {
	width: 80%;
	gap: 10%;
}

.content-address-name {
	width: 40%;
	flex-direction: column;
	gap: 4px;
}

.address-name-tittle {
	color: black;
	font-size: 15px;
	font-weight: 500;
	text-transform: capitalize;
}

.content-address-name input {
	height: 30px;
	border: none;
	border-radius: 5px;
	font-weight: 600;
	outline: black;
	color: black;
	padding: 20px 12px;
}

.content-address-name input::placeholder,
.content-address-description input::placeholder,
.content-address-phone input::placeholder,
.content-address-note input::placeholder {
	color: black;
	font-weight: 500;
}

.content-address-description {
	flex-direction: column;
	width: 55%;
	gap: 4px;
}

.content-address-phone {
	flex-direction: column;
	width: 25%;
	gap: 4px;
}

.content-address-description input,
.content-address-phone input,
.content-address-note input {
	border: none;
	height: 30px;
	outline: none;
	border-radius: 5px;
	padding: 20px 12px;
	color: black;
	font-weight: 600;
}

.content-address-note {
	width: 72%;
	flex-direction: column;
	gap: 4px;
}

.address-submit-confirm {
	cursor: pointer;
	text-transform: capitalize;
	padding: 12px 20px;
	background: rgb(51, 51, 51);
	color: rgb(255, 255, 255);
	font-weight: 400;
	font-size: 13px;
	border-radius: 5px;
}

.address-submit-cancel {
	padding: 12px 20px;
	cursor: pointer;
	font-size: 13px;
	text-transform: capitalize;
	color: rgb(51, 51, 51);
	font-weight: 600;
}

.content-address-submit {
	justify-content: center;
	margin: 20px 0;
}

.content-address-wrapper {
	width: 100%;
	margin-left: 140px;
}

.content-address-name input:focus,
.content-address-details input:focus,
.content-address-phone input:focus,
.content-address-note input:focus {
	border: 3px solid rgb(255, 227, 195);
}

.content-address-name input:focus,
.content-address-details input:focus,
.content-address-phone input:focus,
.content-address-note input:focus {
	border: 3px solid #ffe3c3;
}

.content-info.hidden {
	display: none;
}

.content-address.active {
	display: flex;
}

.address-remove {
	text-transform: capitalize;
	align-items: center;
	color: rgba(0, 0, 0, 0.72);
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	width: 74%;
	justify-content: right;
	margin-right: 6px;
}

@media (max-width:900px) {
	.content-order {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	.content-first {
		margin-top: 40px;
		padding: 0px 30px;
		gap: 0%;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
	.content-summary {
		width: 50%;
		flex-direction: column;
		margin-top: 30px;
	}
	.summary-tittle {
		font-size: 18px;
		font-weight: 500;
		color: black;
		text-transform: capitalize;
		justify-content: center;
	}
	.order-row-left {
		flex-basis: 43%;
		gap: 5%;
	}
	.order-row-right {
		flex-basis: 62%;
		align-items: center;
	}
	.order-right-price {
		gap: 10px;
		flex-basis: 42%;
		justify-content: right;
		font-size: 14px;
	}
	.order-right-remove {
		flex-basis: 19%;
		height: unset;
		width: unset;
		cursor: pointer;
		border: unset;
		align-items: center;
		justify-content: center;
		padding-right: unset;
		border-radius: unset;
		box-shadow: unset;
		color: rgba(0, 0, 0, 0.73);
	}
	.order-right-quantity {
		color: gray;
		gap: 10px;
		flex-basis: 39%;
		align-items: center;
		margin-left: 0;
		margin-bottom: 4px;
		justify-content: end;
	}
	.order-details {
		flex-direction: column;
		background: rgb(255, 255, 255);
		padding: 25px 20px;
		margin-top: 20px;
		border-radius: 5px;
	}
	.order-right-remove i {width: 25px;height: 25px;padding: 3px;border: 1px solid #33333396;border-radius: 50%;box-shadow: 0 0 5px #00000070;}
	.content-mid {
		margin: 40px 0px;
		padding: 0px 30px;
		width: 100%;
		gap: 5%;
		flex-wrap: wrap;
	}
	.content-delivery {
		flex-direction: column;
		width: 100%;
	}
	.delivery-tittle {
		font-size: 18px;
		color: black;
		text-transform: capitalize;
		font-weight: 500;
		justify-content: center;
	}
	.delivery-box {
		width: 45%;
		height: 100px;
	}
	.content-service {
		width: 100%;
		flex-direction: column;
	}
	.service-tittle {
		font-size: 18px;
		color: black;
		font-weight: 500;
		justify-content: center;
	}
	.content-last {
		padding: 0px 30px;
		width: 100%;
		margin: 40px 0;
	}
	.content-checkout {
		width: 100%;
		flex-direction: column;
	}
	.address-remove {
		text-transform: capitalize;
		align-items: center;
		color: rgba(0, 0, 0, 0.72);
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;
		width: 54%;
		justify-content: right;
		margin-right: 6px;
	}
	.address-details {
		padding: 0px 15px;
		align-items: center;
		width: 40%;
	}
	.content-address-wrapper {
		width: 100%;
		margin-left: 100px;
	}
}

@media (max-width:500px) {
	.order-row-img {
		flex-basis: 50%;
		background: whitesmoke;
		justify-content: center;
		border-radius: 5px;
		padding: 10px 0px;
		margin-left: 4px;
	}
	.content-first {
		margin-top: 40px;
		padding: 0px 0px;
		gap: 0%;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
	.order-details {
		flex-direction: column;
		background: rgb(255, 255, 255);
		padding: 25px 0px;
		margin-top: 20px;
		border-radius: 5px;
	}
	.order-row-left {
		flex-basis: 50%;
		gap: 2%;
	}
	.order-row-img {
		flex-basis: 50%;
		background: whitesmoke;
		justify-content: center;
		border-radius: 5px;
		padding: 10px 0px;
		margin-left: 4px;
	}
	.order-row-details {
		flex-basis: 48%;
		flex-direction: column;
		gap: 7px;
		justify-content: center;
	}
	.order-row-details h4 {
		color: black;
		font-size: 12px;
		text-transform: capitalize;
	}
	.row-details-items {
		font-size: 10px;
	}
	.order-row-right {
		flex-basis: 50%;
		align-items: center;
		justify-content: right;
		flex-wrap: wrap;
	}
	.order-right-price {
		gap: 0px;
		flex-basis: 100%;
		justify-content: right;
		font-size: 14px;
		flex-direction: column;
		width: 100%;
		align-items: end;
		margin-right: 10px;
	}
	.order-right-quantity {
		color: gray;
		gap: 10px;
		flex-basis: 100%;
		align-items: center;
		margin-left: 0;
		margin-bottom: 4px;
		justify-content: end;
		width: 100%;
		margin-right: 10px;
	}
	.order-right-quantity span {
		font-size: 12px;
	}
	.quantity-details input {
		width: 56px;
		height: 27px;
		outline: none;
		padding: 0px 5px;
		border: 2px solid rgb(220, 220, 224);
		border-radius: 4px;
	}
	.quantity-navigation {
		flex-direction: column;
		position: absolute;
		right: 3px;
		top: 0px;
		font-size: 14px;
		cursor: pointer;
	}
	.order-right-remove {
		flex-basis: unset;
		width: 100%;
		height: unset;
		width: unset;
		cursor: pointer;
		border: unset;
		align-items: center;
		justify-content: center;
		padding-right: unset;
		border-radius: unset;
		box-shadow: unset;
		color: rgba(0, 0, 0, 0.73);
		margin-right: 10px;
	}
	.order-right-remove i {
		width: 60px;
		height: 20px;
		padding: 0px;
		border: 1px solid #33333396;
		border-radius: 5px;
		text-align: center;
		box-shadow: 0 0 5px #00000070;
	}
	.content-order {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	.content-first {
		margin-top: 40px;
		padding: 0px 0px;
		gap: 0%;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}
	.summary-tittle {
		font-size: 16px;
		font-weight: 500;
		color: black;
		text-transform: capitalize;
		justify-content: center;
	}
	.content-summary {
		width: 100%;
		flex-direction: column;
		margin-top: 30px;
	}
	.content-mid {
		margin: 40px 0px 0px;
		padding: 0px 0px;
		width: 100%;
		gap: 5%;
		flex-wrap: wrap;
	}	
	.delivery-row {
		gap: 5%;
		flex-wrap: wrap;
	}
	.delivery-details {
		flex-direction: column;
		padding: 20px 0px;
		gap: 22px;
	}
	.delivery-box {
		width: 100%;
		height: 100px;
	}
	.content-last {
		padding: 0px 0px;
		width: 100%;
		margin-top: 70px;
		margin-bottom: 40px;
	}
	.content-info {
		width: 100%;
		padding: 20px 10px;
		background: rgb(255, 255, 255);
		border-radius: 5px;
		display: flex;
	}
	.content-info-logo {
		width: 6%;
		font-size: 20px;
		align-items: center;
		justify-content: center;
	}

	span.name {
		font-weight: bold;
		font-size: 11px;
		color: rgb(51, 51, 51);
		text-transform: capitalize;
	}
	.content-info-description {
		gap: 2px;
		flex-direction: column;
	}
	.content-info-details {
		flex-direction: column;
		width: 75%;
		padding: 0px 15px;
		justify-content: center;
		gap: 4px;
	}
	span.phone {
		font-weight: bold;
		font-size: 11px;
		color: rgb(51, 51, 51);
	}
	span.address {
		font-size: 12px;
		text-transform: capitalize;
		color: gray;
	}
	.content-info-change h4 {
		text-transform: uppercase;
		color: darkgray;
		font-size: 12px;
		font-weight: 500;
		cursor: pointer;
	}
	.content-address-tittle {
		width: 100%;
		padding: 20px 10px;
		background: rgb(255, 255, 255);
		border-radius: 5px;
	}
	.address-remove {
		text-transform: capitalize;
		align-items: center;
		color: darkgray;
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;
		width: 36%;
		justify-content: right;
		margin-right: 6px;
	}
	.address-details {
		padding: 0px 10px;
		align-items: center;
		justify-content: center;
		width: 56%;
		font-size: 14px;
	}
	.address-logo {
		width: 10%;
		font-size: 25px;
		justify-content: center;
		align-items: center;
	}

	.content-address-details {
		flex-direction: column;
		gap: 25px;
		width: 100%;
	}
	.content-address-row {
		width: 100%;
		gap: 10%;
	}
	.content-address-description {
		flex-direction: column;
		width: 50%;
		gap: 4px;
	}
	.content-address-phone {
		flex-direction: column;
		width: 30%;
		gap: 4px;
	}
	.content-address-note {
		width: 90%;
		flex-direction: column;
		gap: 4px;
	}
	.content-address-wrapper {
		width: 100%;
		margin-left: 16px;
	}
}